@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  background-attachment: fixed;
  inset: 0px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("./assets/hero.webp");
}

.botton-submit {
  @apply w-full bg-gradient-to-r from-lime-500 to-green-500 hover:from-lime-600 hover:to-green-600 text-white font-bold py-4 px-6 rounded-xl transition-all duration-200 transform hover:scale-[1.02] shadow-lg hover:shadow-xl text-center inline-block;
}

.botton-submit-2 {
  @apply flex items-center gap-2 mx-auto bg-gradient-to-r from-lime-500 to-green-500 hover:from-lime-600 hover:to-green-600 text-white font-semibold py-3 px-6 rounded-xl shadow-lg hover:shadow-xl text-center;
}

.dashboard-button {
  @apply flex justify-start items-center gap-4 mx-auto p-2 hover:bg-gray-300 rounded-md transition-all;
}

.dashboard-icon {
  @apply h-6 w-6;
}

.create-edit-input-button {
  @apply w-full px-4 py-2 border rounded-lg bg-white shadow-sm focus:ring-2 focus:ring-lime-400 focus:outline-none
}

.error-msg {
  @apply text-red-500 p-2 font-bold text-sm;
}

.form-input {
  @apply w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-lime-500;
}

.rbc-day-bg:hover {
  background-color: #d4d4d4;
}


.menu-perfil-item {
  @apply text-slate-700 p-3 font-medium text-sm flex items-center hover:bg-slate-200 rounded-md duration-300 transition-all;
}

.menu-item {
  @apply text-slate-700 px-3 font-medium text-sm flex items-center hover:bg-slate-200 rounded-md duration-300 transition-all;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-top {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}

.animate-fade-in-4 {
  animation: fade-in 0.4s ease-out;
}

.animate-fade-top {
  animation: fade-top 0.2s ease-out;
}

/* Oculta la sección de la izquierda del DateRangePicker */
.rdrDefinedRangesWrapper {
  display: none;
}

/* Cambiar color y tamaño de las flechas */
.swiper-button-next,
.swiper-button-prev {
  color: #84cc16 !important;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Cambia el color al pasar el mouse */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #91e118 !important;
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.swiper-pagination-bullet {
  background-color: #cbd5e1;
  opacity: 0.6;
  width: 10px;
  height: 10px;
  margin: 12px 6px 0 6px;
  transition: all 0.3s ease;
  border-radius: 9999px;
}

/* Punto activo */
.swiper-pagination-bullet-active {
  background-color: #84cc16 !important;
  opacity: 1;
  transform: scale(1.3);
}